#!/usr/bin/env bash

# Make vim the default editor
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY_FILE=~/.node_history;
# Allow 32. entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit dublicates and commands that begin with a space from history
export HISTCONTROL='ignoreboth';

# Make some commands not show up in history
export HISTIGNORE="&:ls:cd:cd -:pwd:exit:date:* --help";

# Whenever displaying the promt^ write the previous line to disk
export PROMT_COMMAND=`history -a`

# Prefer US English
# en_US may increase performance in some cases
export LANG='en_US'
# for MC compatibility
# export LANG="en_US.UTF-8";
# export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER='less -X';

# Quit Bash only after twice Ctrl-D
export IGNOREEOF=1

# OS specific section
if [ `uname` == "Darwin" ]; then
	# Link Homebrew casks in `/Applications` rather than `~/Applications`
	export HOMEBREW_CASK_OPTS="--appdir=/Applications";
fi

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);
